body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 0px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	background-color: darkgray;
	padding: 20px;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about {
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.image {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.imge {
	border-radius: 40%;
	border: 2px solid green;
	height: 350px;
	width: 300px;
}

.pro {
	height: 260px;
	width: 250px;
}

.pro:hover {
	padding: 5px;
}

.smallbox {
	height: 32px;
	border: 2px solid green;
	text-align: center;
	background-color: crimson;
}

.para {
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.list {
	height: 20px;
	width: 400px;
	max-width: 500px;
	border: 2px solid white;
	margin: 0 auto;
}

.unorder {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-bottom: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

form label,
form input,
form textarea {
	display: block;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form textarea {
	width: 100%;
	max-width: 500px;
	padding: 8px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.box {
	height: 300px;
	width: 100%;
	max-width: 250px;
	margin-bottom: 20px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 500px;
	justify-content: space-evenly;
}


.contact{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.container {
		flex-direction: column;
		align-items: center;
	}

	.box {
		max-width: 100%;
	}
}

/* Media queries for larger screens */
@media only screen and (min-width: 1200px) {
	nav li {
		margin-right: 40px;
	}

	.container {
		justify-content: space-between;
	}
}
